
<div class="navbar">
    <div class="logo">
        <img src="../assets/logo.png" alt="Logo">
    </div>
    <div class="page-links">
        <ul>
            <!-- <img class="menu-icon" src="../assets/mobilenav.png" id="menuList"> -->
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"><a href="">Home</a></li>
            <li routerLinkActive="active"><a href="">Projects</a></li>
            <li routerLinkActive="active"><a href="" routerLink="productsPage">Products</a></li>
            <li routerLinkActive="active"><a href="">Special Offers</a></li>
            <li routerLinkActive="active"><a href="">About</a></li>
            <li><button class="contact"><img src="../assets/message.png" alt=""> <h3>Contact Us</h3></button></li>
        </ul>
    </div>
</div>

<section class="main">
    <div class="left-side">
        <div class="title">
            <h1>Products</h1>
        </div>
        <p>Filters</p>
        <div class="price-box">
            <h4>Price</h4>
            <div class="container">
                <div class="price-input">
                    <ngx-slider class="ngx-slider-selection ngx-slider-pointer" [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                    <div class="inputs">
                        <input type="nymber" [(ngModel)]="value">
                        <input type="nymber" [(ngModel)]="highValue">
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        <div class="categories">
            <h4>Categories</h4>
            <mat-accordion style="background-color: transparent; color: black;">
                <mat-expansion-panel  [expanded]="step === 0" (opened)="setStep(0)" hideToggle style="background-color: transparent; box-shadow: none;" >
                  <mat-expansion-panel-header >
                    <mat-panel-title>
                      Flooring
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est inventore at quo, ad distinctio commodi provident nihil alias, labore quia nisi voluptate vel dolore non doloribus libero praesentium laudantium aliquid!</p>
                </mat-expansion-panel>


                <mat-expansion-panel style="background-color: transparent; box-shadow: none;" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Office Seating
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia nihil facere at ipsum possimus harum quasi? Sit quaerat eaque deserunt. Nihil autem ad quia dolorum commodi. Excepturi odio obcaecati officia.</p>
                </mat-expansion-panel>
                <mat-expansion-panel style="background-color: transparent; box-shadow: none;" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Ofiice Furniture
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia nihil facere at ipsum possimus harum quasi? Sit quaerat eaque deserunt. Nihil autem ad quia dolorum commodi. Excepturi odio obcaecati officia.</p>
                </mat-expansion-panel>



                <mat-expansion-panel style="background-color: transparent; box-shadow: none;" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                     Soft Seating
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia nihil facere at ipsum possimus harum quasi? Sit quaerat eaque deserunt. Nihil autem ad quia dolorum commodi. Excepturi odio obcaecati officia.</p>
                </mat-expansion-panel>


                <mat-expansion-panel style="background-color: transparent; box-shadow: none;" (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>

                    <mat-panel-title>
                      Lightning
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia nihil facere at ipsum possimus harum quasi? Sit quaerat eaque deserunt. Nihil autem ad quia dolorum commodi. Excepturi odio obcaecati officia.</p>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
    </div>
    <div class="right-side">
        <div class="search-bar">
            <input type="search" placeholder="Search for product">
            <button routerLink="/productDetails" type="submit">Search</button>
        </div>
        <div class="products-main-page">
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <div class="page-numbers">
        <div class="search-pages">
            <div class="btns">
                <a class="arrow"><img src="../assets/page/Group 28.png" alt=""></a>
                <a class="num"><img src="../assets/page/Frame 10704.png" alt=""></a>
                <a class="num"><img src="../assets/page/Frame 10703.png" alt=""></a>
                <a class="num"><img src="../assets/page/Frame 10705.png" alt=""></a>
                <a class="num"><img src="../assets/page/Frame 10706.png" alt=""></a>
                <a class="num"><img src="../assets/page/Frame 10708.png" alt=""></a>
                <a class="num"><img src="../assets/page/Frame 10709.png" alt=""></a>
                <a class="arrow"><img src="../assets/page/Group 8.png" alt=""></a>
            </div>
        </div>
    </div>
</section>