<section class="header">
    <div class="navbar">
        <div class="logo">
            <img src="../assets/logo.png" alt="Logo">
        </div>
        <div class="page-links">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Special Offers</a></li>
                <li><a href="">About</a></li>
                <li><button class="contact"><img src="../assets/message.png" alt=""> <h3>Contact Us</h3></button></li>
            </ul>
        </div>
        </div>
</section>

<section class="main">
    <div class="left-side">
        <div class="title">
            <h1>Products</h1>
        </div>
        <p>Filters</p>
        <div class="price-box">
            <h4>Price</h4>
            <div class="container">
                <div class="price-input">
                    <ngx-slider class="ngx-slider-selection ngx-slider-pointer" [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
                    <div class="inputs">
                        <input type="nymber" [(ngModel)]="value">
                        <input type="nymber" [(ngModel)]="highValue">
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        <div class="categories">
            <h4>Categories</h4>
            <div class="list">
                <div class="name">
                    <div class="image">
                        <img src="../assets/cleaning.png" alt="">
                    </div>
                    <app-accordion> <app-accordion-item  title="Flooring">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti iure alias dolorem doloribus laudantium dignissimos veritatis, cumque expedita est eum non rem ad dolor ea ex voluptas distinctio repudiandae quidem!</p>
                    </app-accordion-item></app-accordion>
                </div>
                <div class="name">
                    <img src="../assets/chair.png" alt=""><app-accordion> <app-accordion-item  title="Office Seating">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti iure alias dolorem doloribus laudantium dignissimos veritatis, cumque expedita est eum non rem ad dolor ea ex voluptas distinctio repudiandae quidem!</p>
                    </app-accordion-item></app-accordion>
                </div>
                <div class="name">
                    <img src="../assets/desk.png" alt=""><app-accordion> <app-accordion-item  title="Office Furniture">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti iure alias dolorem doloribus laudantium dignissimos veritatis, cumque expedita est eum non rem ad dolor ea ex voluptas distinctio repudiandae quidem!</p>
                    </app-accordion-item></app-accordion>
                </div>
                <div class="name">
                    <img src="../assets/armchair.png" alt=""><app-accordion> <app-accordion-item  title="Soft Seating">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti iure alias dolorem doloribus laudantium dignissimos veritatis, cumque expedita est eum non rem ad dolor ea ex voluptas distinctio repudiandae quidem!</p>
                    </app-accordion-item></app-accordion>
                </div>
                <div class="name">
                    <img src="../assets/lamp-on.png" alt=""><app-accordion> <app-accordion-item  title="Lighting">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti iure alias dolorem doloribus laudantium dignissimos veritatis, cumque expedita est eum non rem ad dolor ea ex voluptas distinctio repudiandae quidem!</p>
                    </app-accordion-item></app-accordion>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side">
        <div class="search-bar">
            <input type="search" placeholder="Search for product">
            <button type="submit">Search</button>
        </div>
        <div class="products-main-page">
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
            <div class="container-chair">
                <h2>Office space planning and <br>
                     interior design</h2>
                <img src="../assets/imagechair.png" alt="">
                <div class="foot">
                    <p>$799.00</p>
                    <a href="" routerLink="/productDetails">SEE DETAILS</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer">
    <div class="page-numbers">
        <div class="search-pages">
            <div class="btns">
                <a class="arrow"><img src="../assets/page/Group 28.png" alt=""></a>
                <a class="num"><img src="../assets/page/Frame 10704.png" alt=""></a>
                <a class="num"><img src="../assets/page/Frame 10703.png" alt=""></a>
                <a class="num"><img src="../assets/page/Frame 10705.png" alt=""></a>
                <a class="num"><img src="../assets/page/Frame 10706.png" alt=""></a>
                <a class="num"><img src="../assets/page/Frame 10708.png" alt=""></a>
                <a class="num"><img src="../assets/page/Frame 10709.png" alt=""></a>
                <a class="arrow"><img src="../assets/page/Group 8.png" alt=""></a>
            </div>
        </div>
    </div>
</section>