<div class="project-name-container">
    <div class="title">
        <h2>Product Details</h2>
        <img src="../assets/page/Frame 671.png" alt="">
    </div>
    <div class="images-container">
        <div class="up-side">
            <div class="left-side">
                <img src="../assets/projectsname/Rectangle 31.png" alt="">
            </div>
            <div class="right-side">
                <div class="description">
                    <h3>About Project</h3>
                    <p>We provide you everything you need for the creation of a <br>
                     contemporary office. We provide you everything you need for the <br>
                      creation of a office. We provide you everything you need for <br>
                       the creation of a contemporary office. We provide you We provide <br>
                        you everything you need for the creation</p>
                </div>
                <img src="../assets/projectsname/Rectangle 33.png" alt="">
            </div>
        </div>
        <div class="down-side">
            <div class="left">
                <div class="images">
                    <img src="../assets/projectsname/Rectangle 32.png" alt="">
                    <img src="../assets/projectsname/Rectangle 34.png" alt="">
                </div>
            </div>
            <div class="right">
                <img src="../assets/projectsname/Rectangle 35.png" alt="">
            </div>
        </div>
    </div>
</div>
