<div class="project-name-container">
    <div class="title">
        <h2>Projects Name</h2>
        <a href="#"><img src="../assets/page/Frame 671.png" alt=""></a>
    </div>


  <div class="images-container">
    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
        <mat-grid-tile id="one" rowspan="2"><img src="../assets/projectsname/Rectangle 31.png" alt=""></mat-grid-tile>
        <mat-grid-tile id="two"> <div class="description">
            <h3>About Project</h3>
            <p>We provide you everything you need for the creation of a <br>
             contemporary office. We provide you everything you need for the <br>
              creation of a office. We provide you everything you need for <br>
               the creation of a contemporary office. We provide you We provide <br>
                you everything you need for the creation</p>
        </div></mat-grid-tile>
        <mat-grid-tile id="tree"><img src="../assets/projectsname/Rectangle 33.png" alt=""></mat-grid-tile>
        <mat-grid-tile id="four"><img src="../assets/projectsname/Rectangle 32.png" alt=""></mat-grid-tile>
        <mat-grid-tile id="five" rowspan="2   "><img src="../assets/projectsname/Rectangle 35.png" alt=""></mat-grid-tile>
        <mat-grid-tile id="six"><img src="../assets/projectsname/Rectangle 34.png" alt=""></mat-grid-tile>
        
      </mat-grid-list>
  </div>
   
</div>
