.images-container{
   padding: 0 115px 120px 115px;
    
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 66px 115px;
}
.title h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .description{
    width: 100%;
    height: 100%;
    background-color:#F3F4F4 ;
    padding: 50px ;
    border-radius: 15px;
}

.description h3{
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
}

.description p{
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
}

.right-side .description h3{
    color: black;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;     
}
.right-side .description p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */


color: rgba(23, 24, 36, 0.5);
}

.down-side{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0 115px;
}


@media screen and (max-width:450px) {

    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 26px 20px;
    }
    .title a{
        width: 40px;
    }

    .images-container{
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "one" 
        "two"
        "tree"
        "four"
        "five"
        "six";
    }
}