<header [class.header_change]="header_var">
    <div class="navbar">
        <div class="logo">
            <img src="../assets/logo.png" alt="Logo">
        </div>
        <div class="page-links">
            <ul>
                <!-- <img class="menu-icon" src="../assets/mobilenav.png" id="menuList"> -->
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"><a href="">Home</a></li>
                <li routerLinkActive="active"><a href="">Projects</a></li>
                <li routerLinkActive="active"><a href="" routerLink="productsPage">Products</a></li>
                <li routerLinkActive="active"><a href="">Special Offers</a></li>
                <li routerLinkActive="active"><a href="">About</a></li>
                <li><button class="contact"><img src="../assets/message.png" alt=""> <h3>Contact Us</h3></button></li>
            </ul>
        </div>
    </div>
</header>

