<header [class.header_change]="header_var">
    <div class="navbar">
        <div class="logo">
            <img src="../assets/Group.svg"  alt="Logo">
        </div>
        
        <div class="page-links" >
            <ul>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"><a  (click)="goHome()">Home</a></li>
                <li routerLinkActive="active"><a  (click)="goProjects()">Projects</a></li>
                <li routerLinkActive="active"><a  routerLink="productsPage">Products</a></li>
                <li routerLinkActive="active"><a  (click)="goCategories()">Special Offers</a></li>
                <li routerLinkActive="active"><a  (click)="goAbout()">About</a></li>
                <li><a  (click)="goContact()"><button class="contact"><img src="../assets/message.svg" alt=""> <h3>Contact Us</h3></button></a></li>
            </ul>
        </div>
    </div>
</header>

