.services-wrapper{
    width: 100%;
    height: 100vh;
    padding: 0 70px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.logo{
    width: 115px;
    height: 83px;
    /* padding: 0 70px; */
}
.page-links ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 14px; 
    
    
}
.page-links ul li a{
    color: #171824;
    text-decoration: none;
}
.page-links ul li a:hover{
    color: #FF9370;
    cursor: pointer;
}
.page-links ul li button{
    width: 160px;
    height: 43px;
    background-color: #FF9370;
    color: white;
    border-radius: 67px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    cursor: pointer;
}
.page-links button img{
    width: 24px;
    height: 24px;
    color: white;
}

.services{
    position: absolute;
    width: 469px;
    height: 162px;
    left: 115px;
    /* top: 317px; */
}
.services h1{
    font-size: 86px;
    margin: 24px auto;
    color: #171824;
}
.services p{
    color: #171824;
    font-size: 20px;
}
/* .main-contant{
    width: 1690px;
    height: 560px;
    left: 115px;
    top: 274px;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* collums */
.offer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.box-divs{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 0;
    gap: 35px;
    width: 100%;
    height: 100%
}
.box-divs-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 35px;
    width: 100%;
    height: 100%
}
/* 1 */
.furniture{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 24px;
    /* position: absolute; */
    width: 414px;
    height: 260px;
    /* margin-left: 875px; */
    background: rgba(23, 24, 36, 0.05);
    border-radius: 24px;
}
.furniture h4{
    font-size: 20px;
    line-height: 150%;
    color: #171824;
}
.furniture a{
    text-decoration: none;
}
/* 2 */
.custum-made{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 24px;
    width: 414px;
    height: 260px;
    background: rgba(23, 24, 36, 0.05);
    border-radius: 24px;
    /* margin-left: 50px; */
}
.custum-made h4{
    font-size: 20px;
    line-height: 150%;
    color: #171824;
}
.custum-made a{
    text-decoration: none;
}
/* 3 */
.office-space{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 24px;
    /* position: absolute; */
    width: 414px;
    height: 260px;    
    background: rgba(23, 24, 36, 0.05);
    border-radius: 24px;
}
.office-space h4{
    font-size: 20px;
    line-height: 150%;
    color: #171824;
}
.office-space a{
    text-decoration: none;
}
/* /* 4 */
.grapical   {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 24px;
    /* position: absolute; */
    width: 414px;
    height: 260px;
    background: rgba(23, 24, 36, 0.05);
    border-radius: 24px;
}
.grapical    h4{
    font-size: 20px;
    line-height: 150%;
    color: #171824;
}
.grapical    a{
    text-decoration: none;
}
/* 5 */
.office-carpets   {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 4px;
    /* position: absolute; */
     width: 414px;
    height: 260px;
    background: rgba(23, 24, 36, 0.05);
    border-radius: 24px;
    /* margin-right: 40px; */
}
.office-carpets    h4{
    font-size: 20px;
    line-height: 150%;
    color: #171824;
}
.office-carpets    a{
    text-decoration: none;
}


.scrolldown{
   display: block;
   padding-top: 100px;
}
span{
    font-size: 16px;
    color: rgba(23, 24, 36, 0.7);
    display: flex;
    width: 130px;
    height: 24px;
    /* padding-top: 200px; */
    
}
span img{
    width: 15px;
    height: 15px;
}

@media screen and (max-width:650px) {
    .services-wrapper{
        width: 100%;
        height: 180vh;
        padding: 0;
    }
    .page-links{display: none;}
    .services{
        margin-top: -180px;
        position: absolute;
        width: 469px;
        height: 162px;
        left: 10px;
        padding: 0 20px;
    }
    .services h1{
        font-size: 36px;
    }
    .services p{
        font-size: 20px;
    }
    .services-contant{
        margin-top: 200px;
    }
    .box-divs h4{
        font-size: 14px;
    }
    .box-divs-2 h4{
        font-size: 14px;
    }
    .offer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    .box-divs{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;

    }
    .box-divs-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        
    }
    .furniture{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 150px;
        background: rgba(23, 24, 36, 0.05);
        border-radius: 24px;
    }
    .custum-made{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 150px;
        background: rgba(23, 24, 36, 0.05);
        border-radius: 24px;
    }
    .office-space{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 150px;
        background: rgba(23, 24, 36, 0.05);
        border-radius: 24px;
    }
    .grapical{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 150px;
        background: rgba(23, 24, 36, 0.05);
        border-radius: 24px;
    }
    .office-carpets{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 150px;
        background: rgba(23, 24, 36, 0.05);
        border-radius: 24px;
    }
    .scrolldown{
        display: none;
    }
    .service.contant{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
}