<div class="services-wrapper">
    <div class="navbar">
        <div class="logo">
            <img src="../assets/logo.png" alt="Logo">
        </div>
        <div class="page-links">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Special Offers</a></li>
                <li><a href="">About</a></li>
                <li><button class="contact"><img src="../assets/message.png" alt=""> <h3>Contact Us</h3></button></li>
            </ul>
        </div>
    </div>
    <div class="main-contant">
        <div class="services">
            <h1>Services</h1>
            <p>We provide you everything you need for <br> the creation of a contemporary office.</p>
        </div>
        <div class="services-contant">
            <div class="offer">
               
               <div class="box-divs">
                <div class="furniture">
                    <img src="../assets/Frame 4.png" alt="">
                    <a href=""><h4>Furniture <br> installation</h4></a>
                </div>
                <div class="custum-made">
                    <img src="../assets/FrameCustum.png" alt="">
                    <a href=""><h4>Custom made furniture <br> solutions</h4></a>
                </div>
               </div>
            </div>
            <div class="box-divs-2">
                    <div class="office-space">
                        <img src="../assets/FrameOffice.png" alt="">
                        <a href=""><h4>Office space planning <br> and interior design</h4></a>
                    </div>
                    <div class="grapical">
                        <img src="../assets/grapical.png" alt="">
                        <a href=""><h4>Graphical <br> vizualization</h4></a>
                    </div>
                    <div class="office-carpets">
                        <img src="../assets/carpets.png" alt="">
                        <a href=""><h4>Office Carpets and Vynil <br> Floors instalation</h4></a>
                    </div>
                </div>
        </div>
    </div>
    <div class="scrolldown">
        <span><img src="../assets/mouse.png" alt="">Scroll down</span>
    </div>
</div>
