<div class="aboutus-container">
    <div class="navbar">
        <div class="logo">
            <img src="../assets/logo.png" alt="Logo">
        </div>
        <div class="page-links">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Special Offers</a></li>
                <li><a href="">About</a></li>
                <li><button class="contact"><img src="../assets/message.png" alt=""> <h3>Contact Us</h3></button></li>
            </ul>
        </div>
    </div>
    <div class="main-container">
        
            <div class="left">
                <h1>About Us</h1>
                <p>It is well known that proper conditions at the workplace promote <br>
                    creation, development and expansion. Products and services that <br>
                    we deliver to our customers are characterized not only by high-<br>
                    class technology, superb quality and contemporary design. It is also <br>
                    a large diversity of products with qualities that create perfect <br>
                    working conditions for direct users. Let’s not forget, the office is the <br>
                    place where we spend the most of our active lives.</p>
                    <br>
                    <br>
                    <p>Becoming a leading provider of the commercial interior solutions <br>
                        and sustaining this position has always been the mission of Office <br>
                        Pros (former TECHO GEORGIA).</p>
            </div>
            <div class="right">
                <app-accordion><app-accordion-item title="Quality">
                    <p>International certificates and total quality management approach <br>
                        guarantee the highest quality of our products. All of our products <br>
                        meet EU standards for ergonomics, hygienic norms, non-toxity and chain <br>
                        of production. Acoustic panels, silent closing systems, anti-static flooring, <br>
                        high gloss and anti-bacterial surfaces are among the commercial interior <br>
                        solutions offered to our customers.</p>
                </app-accordion-item></app-accordion>
                <app-accordion><app-accordion-item title="Project Security">
                    <p>International certificates and total quality management approach <br>
                        guarantee the highest quality of our products. All of our products <br>
                        meet EU standards for ergonomics, hygienic norms, non-toxity and chain <br>
                        of production. Acoustic panels, silent closing systems, anti-static flooring, <br>
                        high gloss and anti-bacterial surfaces are among the commercial interior <br>
                        solutions offered to our customers.</p>
                </app-accordion-item></app-accordion>
                <app-accordion><app-accordion-item title="Full service">
                    <p>International certificates and total quality management approach <br>
                        guarantee the highest quality of our products. All of our products <br>
                        meet EU standards for ergonomics, hygienic norms, non-toxity and chain <br>
                        of production. Acoustic panels, silent closing systems, anti-static flooring, <br>
                        high gloss and anti-bacterial surfaces are among the commercial interior <br>
                        solutions offered to our customers.</p>
                </app-accordion-item></app-accordion>
                <app-accordion><app-accordion-item title="Flexibility of product range">
                    <p>International certificates and total quality management approach <br>
                        guarantee the highest quality of our products. All of our products <br>
                        meet EU standards for ergonomics, hygienic norms, non-toxity and chain <br>
                        of production. Acoustic panels, silent closing systems, anti-static flooring, <br>
                        high gloss and anti-bacterial surfaces are among the commercial interior <br>
                        solutions offered to our customers.</p>
                </app-accordion-item></app-accordion>
                <app-accordion><app-accordion-item title="Design">
                    <p>International certificates and total quality management approach <br>
                        guarantee the highest quality of our products. All of our products <br>
                        meet EU standards for ergonomics, hygienic norms, non-toxity and chain <br>
                        of production. Acoustic panels, silent closing systems, anti-static flooring, <br>
                        high gloss and anti-bacterial surfaces are among the commercial interior <br>
                        solutions offered to our customers.</p>
                </app-accordion-item></app-accordion>
                <app-accordion><app-accordion-item title="Service and warranty">
                    <p>International certificates and total quality management approach <br>
                        guarantee the highest quality of our products. All of our products <br>
                        meet EU standards for ergonomics, hygienic norms, non-toxity and chain <br>
                        of production. Acoustic panels, silent closing systems, anti-static flooring, <br>
                        high gloss and anti-bacterial surfaces are among the commercial interior <br>
                        solutions offered to our customers.</p>
                </app-accordion-item></app-accordion>
        </div>
    </div>
    <div class="scrolldown">
        <span><img src="../assets/mouse.png" alt="">Scroll down</span>
    </div>
</div>

