.aboutus-container{
    width: 100%;
    height: 100vh;
    padding: 0 70px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.logo{
    width: 115px;
    height: 83px;
    /* padding: 0 70px; */
}
.page-links ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 14px; 
}
.page-links ul li a{
    color: #171824;
    text-decoration: none;
}
.page-links ul li a:hover{
    color: #FF9370;
    cursor: pointer;
}
.page-links ul li button{
    width: 160px;
    height: 43px;
    background-color: #FF9370;
    color: white;
    border-radius: 67px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    cursor: pointer;
}
.page-links button img{
    width: 24px;
    height: 24px;
    color: white;
}

/* main */
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left{
    padding-left: 115px;
}
.left h1{
    color: #171824;
    font-size: 64px;
    margin: 24px auto;
}
.left p{
    color: #171824;
    font-size: 20px;
    margin: 24px auto;
    line-height: 30px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    
    padding: 48px;
    gap: 16px;
    background: #F3F4F4;
    border-radius: 24px;
    width: 833px;
    height: 600px;
}

app-accordion-item:hover{
    color: #FF9370;
}
app-accordion-item p{
    color: #171824;
}



.scrolldown{
    display: block;
    padding-top: 150px;
}
span{
    font-size: 16px;
    color: rgba(23, 24, 36, 0.7);
    display: flex;
    width: 130px;
    height: 24px;
    /* padding-top: 200px; */
    
}
span img{
    width: 15px;
    height: 15px;
}

@media screen and (max-width:650px) {
    .aboutus-container{
        width: 100%;
        height: 175vh;
        padding: 0;
    }
    .page-links{
        display: none;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .left{
        padding: 0 40px;
    }
    .left h1{
        color: #171824;
        font-size: 36px;
        margin: 24px auto;
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 48px;
        gap: 16px;
        background: #F3F4F4;
        border-radius: 24px;
        width: 100%;
    }

    .scrolldown{
        display: none;
    }
}