<div class="produc-details-container">
    <div class="title">
        <h2>Product Details</h2>
        <a href="#"><img src="../assets/page/Frame 671.png" alt=""></a>
    </div>


    <div class="main-page">
        <div class="left-side">
            <h1>Modern Chair</h1>
            <p>We provide you everything you need for the creation of a contemporary <br>
                office. We provide you everything you need for the creation of a office. <br>
                We provide you everything you need for the creation of a contemporary <br>
                 office. We provide you</p>
            <div class="btn-price">
                <a href="#"> <img src="../assets/page/Frame 4.png" alt=""></a>
                <span>$799.90</span>
            </div>
            
        </div>

        <div class="right-side">
            <div class="main-image">
                <img src="../assets/page/Group 668.png" alt="">
                <div class="colors">
                    <a href=""><img src="../assets/page/Frame 39.png" alt=""></a>
                    <a href=""><img src="../assets/page/Frame 40.png" alt=""></a>
                    <a href=""><img src="../assets/page/Frame 41.png" alt=""></a>
                    <a href=""><img src="../assets/page/Frame 42.png" alt=""></a>
                </div>
            </div>
            <div class="img-galery">
                <div class="3d">
                    <a href=""><img src="../assets/page/Group 669.png" alt=""></a>
                </div>
                <a href=""><img src="../assets/page/Group 674.png" alt=""></a>
                <a href=""><img src="../assets/page/Group 674.png" alt=""></a>
                <a href=""><img src="../assets/page/Group 674.png" alt=""></a>
                <a href=""><img src="../assets/page/Group 674.png" alt=""></a>
            </div>
        </div>
    </div>
</div>