

.homepage-wrapper{
    width: 100%;
    height: 120vh;
    padding: 0 70px;
}
section{
    width: 100%;
    height: 100%;
    /* margin: 40px; */
}
.close-btn{
    display: none;
}
.menu-icon{
    display: none;
    width: 25px;
    cursor: pointer;
}
.mob-image{
    display: none;
}
.pc-image{
    width: 100%;
    height: 80vh;
}

.main-container{
    padding: 45px 0;
    display: flex;
}
.left-side{
    padding-left: 115px;
    padding-top: 30px;
}
.left-side h1{
    color: #FF9370;
    font-size: 96px;
    margin: 24px auto;
}
.left-side p{
    color: #171824;
    font-size: 20px;
    margin: 24px auto;
}
.left-side button{
    width: 178px;
    height: 64px;
    padding: 0 20px;
    border: none;
    background: #FF9370;
    border-radius: 32px;
    cursor: pointer;
    color: #fff;
}
.touch{
    display: none;
}
.social-media{
    display: none;
}
.right-side {
    position: absolute;
    left: 645px;
    top: 0px;
    right: 0px;
    z-index: -1;
}
.right-side img{
    width: 100%;
    height: 80vh;
}

.scrolldown-main{
    display: block;
    padding-top: 300px;
}

span{
    font-size: 16px;
    color: rgba(23, 24, 36, 0.7);
    display: flex;
    width: 130px;
    height: 24px;
}
span img{
    width: 15px;
    height: 15px;
}

@media only screen and (max-width:450px){
    .homepage-wrapper{
        width: 100%;
        height: 140vh;
        padding: 0;
    }
    
   .main-container{
    padding: 45px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   .left-side{
    padding: 0 50px;
    margin-bottom: 30px;
   }
   .left-side h1{
    color: black;
    font-size: 40px;
   }
   .left-side p{
    font-size: 26px;
   }
   .left-side button{
    width: 200px;
    height: 70px;
    font-size: 20px;
   }
   .right-side {
    position: sticky;
}
   .right-side img{
    width: 100%;
    height: 50vh;
   }
   .pc-image{
    display: none;
   }
   .mob-image{
    display: block;
    width: 100%;
    height: 50vh;
    object-fit: cover;
   }

   .touch{
    display: block;
    flex-direction: column;
    padding-left: 300px;
    padding-top: 30px;
    font-size: 24px;
   }
   .touch span{
       font-size: 20px;
   }
   .social-media{
    display: block;
    flex-direction: column;
    padding-left: 300px;
    margin-top: 65px;
    
}
   .social-media p{
       right: 0;
       font-size: 30px;
       
   }

   .scrolldown{
    display: none;
   }

}


/* service-page */

.services-wrapper{
    width: 100%;
    height: 100vh;
    padding: 0 70px;
}
.services{
    position: absolute;
    width: 469px;
    height: 162px;
    left: 115px;
    /* top: 317px; */
}
.services h1{
    font-size: 86px;
    margin: 24px auto;
    color: #171824;
}
.services p{
    color: #171824;
    font-size: 20px;
}


/* collums */
.offer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.box-divs{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
    gap: 35px;
    width: 100%;
    height: 100%
}
.box-divs-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    width: 100%;
    height: 100%
}
/* 1 */
.furniture{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 24px;
    /* position: absolute; */
    width: 350px;
    height: 260px;
    /* margin-left: 875px; */
    background: rgba(23, 24, 36, 0.05);
    border-radius: 24px;
}
.furniture h4{
    font-size: 20px;
    line-height: 150%;
    color: #171824;
}
.furniture a{
    text-decoration: none;
}
/* 2 */
.custum-made{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 24px;
    width: 350px;
    height: 260px;
    background: rgba(23, 24, 36, 0.05);
    border-radius: 24px;
    /* margin-left: 50px; */
}
.custum-made h4{
    font-size: 20px;
    line-height: 150%;
    color: #171824;
}
.custum-made a{
    text-decoration: none;
}
/* 3 */
.office-space{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 24px;
    /* position: absolute; */
    width: 350px;
    height: 260px;    
    background: rgba(23, 24, 36, 0.05);
    border-radius: 24px;
}
.office-space h4{
    font-size: 20px;
    line-height: 150%;
    color: #171824;
}
.office-space a{
    text-decoration: none;
}
/* /* 4 */
.grapical   {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 24px;
    /* position: absolute; */
    width: 350px;
    height: 260px;
    background: rgba(23, 24, 36, 0.05);
    border-radius: 24px;
}
.grapical    h4{
    font-size: 20px;
    line-height: 150%;
    color: #171824;
}
.grapical    a{
    text-decoration: none;
}
/* 5 */
.office-carpets   {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
    gap: 4px;
    /* position: absolute; */
     width: 350px;
    height: 260px;
    background: rgba(23, 24, 36, 0.05);
    border-radius: 24px;
    /* margin-right: 40px; */
}
.office-carpets    h4{
    font-size: 20px;
    line-height: 150%;
    color: #171824;
}
.office-carpets    a{
    text-decoration: none;
}


.scrolldown{
   display: block;
   padding-top: 100px;
}
span{
    font-size: 16px;
    color: rgba(23, 24, 36, 0.7);
    display: flex;
    width: 130px;
    height: 24px;
    /* padding-top: 200px; */
    
}
span img{
    width: 15px;
    height: 15px;
}

@media screen and (max-width:450px) {
    .services-wrapper{
        width: 100%;
        height: 105vh;
        padding: 0;
    }
   
    .services{
        margin-top: -180px;
        position: absolute;
        width: 469px;
        height: 162px;
        left: 10px;
        padding: 0 20px;
    }
    .services h1{
        font-size: 36px;
    }
    .services p{
        font-size: 20px;
    }
    .services-contant{
        margin-top: 200px;
    }
    .box-divs h4{
        font-size: 14px;
    }
    .box-divs-2 h4{
        font-size: 14px;
    }
    .offer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    .box-divs{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

    }
    .box-divs-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        
    }
    .furniture{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 150px;
        background: rgba(23, 24, 36, 0.05);
        border-radius: 24px;
    }
    .custum-made{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 150px;
        background: rgba(23, 24, 36, 0.05);
        border-radius: 24px;
    }
    .office-space{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 150px;
        background: rgba(23, 24, 36, 0.05);
        border-radius: 24px;
    }
    .grapical{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 150px;
        background: rgba(23, 24, 36, 0.05);
        border-radius: 24px;
    }
    .office-carpets{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        height: 150px;
        background: rgba(23, 24, 36, 0.05);
        border-radius: 24px;
    }
    .scrolldown{
        display: none;
    }
    .service.contant{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }
}

/* projects */


.projects-container{
    width: 100%;
    height: 100vh;
    padding: 0 70px;
}


.categories-con{
    display: flex;
    flex-direction: column;
    overflow: hidden;
  
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h1{
    margin-top: 35px;
    font-size: 75px;
    left: 115px; 
}


.image-container1{
    display: flex;
    gap: 10px;
}


.image-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.image-container3{
    padding: 0 10px;
}


.image-container1 span a{
    margin-top: -40px;
    color: #fff;
    
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
}
.image-container2 span a{
    margin-top: -40px;
}
.image-container3 span a{
    margin-top: -40px;
}

.first-alt{
    display: none;
}
.second{
    height: 260px;
}
 img{
    object-fit: cover;
 }

.image-container3{
    display: flex;
}


.images{
    display: flex;
    flex-direction: column-reverse;
}

.title img{
    width: 65px;
    height: 65px;

}
.arrows button{
    border: hidden;
    border-radius: 50px;
    cursor: pointer;
}


.scrolldown{
    display: block;
}
span{
    font-size: 16px;
    color: rgba(23, 24, 36, 0.7);
    display: flex;
    width: 130px;
    height: 24px;
    /* padding-top: 200px; */
    
}
span img{
    width: 15px;
    height: 15px;
}

@media screen  and (max-width:450px) {
    .projects-container{
        width: 100%;
        height: 80vh;
        padding: 0;
    }
   
    .image-container1 span a{
        margin-top: 420px;
        color: #fff;
       
        z-index: 3;
        text-decoration: none;
        font-size: 20px;
        padding-left: 20px;
    }
    .arrows{
        display: hidden;
    }
    .scrolldown{
        display: none;
    }
    
    .title h1{
        font-size: 36px;
    }
    .image-container2{
        display: block;
    }
    .image-container3{
        display: none;
    }
    .item{
        padding: 30px;
    }
    .first{
        display: none;
    }
    .first-alt{
        display: block;
        height: 100%;
        
    }
}

@media screen  and (max-width:1550px){
    .image-container1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

    }
    .image-container2{
        padding: 0;
    }
    .image-container3{
        padding: 0;
    }
    .image-container3 .item{
        overflow: hidden;
    }
}

/* about-us*/

.aboutus-container{
    width: 100%;
    height: 100vh;
    padding: 0 70px;
}


/* main */
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left{
    padding-left: 115px;
}
.left h1{
    color: #171824;
    font-size: 64px;
    margin: 24px auto;
}
.left p{
    color: #171824;
    font-size: 20px;
    margin: 24px auto;
    line-height: 30px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    
    padding: 48px;
    gap: 16px;
    background: #F3F4F4;
    border-radius: 24px;
    width: 833px;
    height: 600px;
}

app-accordion-item:hover{
    color: #FF9370;
}
app-accordion-item p{
    color: #171824;
}



.scrolldown{
    display: block;
    padding-top: 150px;
}
span{
    font-size: 16px;
    color: rgba(23, 24, 36, 0.7);
    display: flex;
    width: 130px;
    height: 24px;
    /* padding-top: 200px; */
    
}
span img{
    width: 15px;
    height: 15px;
}



@media screen  and (max-width:1550px){
    .right{
        display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 48px;
    gap: 16px;
    background: #F3F4F4;
    border-radius: 24px;
    width: 634px;
    height: 600px;
    }
}

@media screen and (max-width:450px) {
    .aboutus-container{
        width: 100%;
        height: 185vh;
        padding: 0;
    }
   
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .left{
        padding: 0 40px;
    }
    .left h1{
        color: #171824;
        font-size: 36px;
        margin: 24px auto;
        margin-top: 35px;
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 48px;
        gap: 16px;
        background: #F3F4F4;
        border-radius: 24px;
        width: 400px;
        height: 690px;
    }

    .scrolldown{
        display: none;
    }
}



/* categories */

.categories-container{
    width: 100%;
    height: 100vh;
    padding: 0 70px;
}

.categories-con{
    display: flex;
    flex-direction: column;
  
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title h1{
    font-size: 78px;
    left: 115px; 
}
.item2{
    padding: 0 10px;
}
.item2 .des{
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    padding-left: 20px;
    gap: 20px;
}
.item2 .row-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 30px;
}
.item2 .row-2{
    font-size: 20px;
    color: #F3F4F4;
}

.item2 .des{
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    padding-left: 20px;
    gap: 20px;
}
.item2 .row-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 30px;
}
.item2 .row-2{
    font-size: 20px;
    color: #F3F4F4;
}

.item2 .des{
    display: flex;
    flex-direction: column;
    margin-top: -100px;
    padding-left: 20px;
    gap: 20px;
}
.item2 .row-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 30px;
}
.item2 .row-2{
    font-size: 20px;
    color: #F3F4F4;
}
.cont{
    display: flex;
    flex-direction: column-reverse;
    padding: 0 10px;
}
.image-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    overflow: hidden;
}
.item2 .surati{
    width: 375px;
    height: 550px;
    object-fit: fill;
    border-radius: 8px;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
.arrows{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding: 20px 0;

}

.title img{
    width: 65px;
    height: 65px;

}
.arrows button{
    border: hidden;
    border-radius: 50px;
}





.scrolldown{
    display: block;
    left: 64px;
    padding: 50px 0;
    
}
span{
    font-size: 16px;
    color: rgba(23, 24, 36, 0.7);
    display: flex;
    width: 130px;
    height: 24px;
    /* padding-top: 200px; */
    
}
span img{
    width: 15px;
    height: 15px;
}

@media screen and (max-width:450px){
    .categories-container{
        width: 100%;
        /* height: 100vh; */
        padding: 0;
    }
    
    .arrows{
        display: hidden;
    }

    .title h1{
        font-size: 36px;
        padding-left: 15px;
    }
    .image-container{
        padding-top: 20px;
    }

    .scrolldown{display: none;}

    .item1{
        /* display: flex; */
        align-items: center;
        justify-content: space-evenly;
    }
    .item2{display: block;}
}

@media screen  and (max-width:1550px){
    .item2-last{
        display: none;
    }
}

/* contact-us */

.contactus-container{
    width: 100%;
    /* height: 100vh; */
    padding: 0 70px;
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left1{
    padding-left: 115px;
}
.left1 h1{
    color: #171824;
    font-size: 64px;
    margin: 24px auto;
}
.info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 36px;
    gap: 18px;
    width: 690px;
    height: 475px;
    background: #F3F4F4;
    border-radius: 24px;    
}

hr{
    width: 50px;
    height: 2px;
    border: 1px solid #ffbba5;
    display: flex;
    justify-content: flex-start
}
.left1 p{
    font-size: 20px;
}
.left1 span{
   
    padding: 20px 0;
}
.social-logos img{
    padding: 10px;
}


.map{
    width: 940px;
    height: 560px;
    border-radius: 10px;
}

.scrolldown-end{
    display: block;
    padding-top: 85px;
}

.scrolldown-end
 img{
    width: 209px;
    height: 35px;
}

.span-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
@media screen  and (max-width:1550px){
    .left1{
        padding-left: 0;
    }
    .map{
        width: 642px;
        height: 560px;
        border-radius: 24px;
        object-fit: cover;
    }
}


@media screen and (max-width:450px){
    .contactus-container{
        width: 100%;
        /* height: 100vh; */
        padding: 0;
    }
    
    .main-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
    }
  
    .left1 h1{
        padding: 0 40px;
        font-size: 36px;
    }
    .left1 span{
        font-size: 16px;
        margin: 20px 0;
    }
    .info-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 36px;
        gap: 18px;
        width: 100%;

        background: #F3F4F4;
        border-radius: 24px;
    }
    
    .map{
        width: 400px;
        height: 560px;
        border-radius: 24px;
        object-fit: cover;
    }
    
    .scrolldown-end{display: none;}
}


@media screen and (max-width:450px) {
    .navbar{
        display: none;
    }
}

