
<app-header></app-header>
<div class="homepage-wrapper">
    <section>
        <div class="main-container">
            <div class="left-side">
                <h1>Make your <br> <br> <br> office like PRO</h1>
                <p>We provide you everything you need for the <br> creation of a contemporary office.</p>
                <button class="shop">Shop Now</button>
            </div>
            
            <div class="right-side">
                <div class="main-image">
                    <img class="pc-image" src="../assets/Rectangle 7.png" alt="">
                    <img  class="mob-image" src="../assets/RectangleMob.png" alt="">
                </div>
            </div>
        </div>
       
        
    </section>
</div>


<section>
    <div class="services-wrapper">
        <div class="main-contant">
            <div class="services">
                <h1>Services</h1>
                <p>We provide you everything you need for <br> the creation of a contemporary office.</p>
            </div>
            <div class="services-contant">
                <div class="offer">
                   
                   <div class="box-divs">
                    <div class="furniture">
                        <img src="../assets/Frame 4.svg" alt="">
                        <a href=""><h4>Furniture <br> installation</h4></a>
                    </div>
                    <div class="custum-made">
                        <img src="../assets/custum.svg" alt="">
                        <a href=""><h4>Custom made furniture <br> solutions</h4></a>
                    </div>
                   </div>
                </div>
                <div class="box-divs-2">
                        <div class="office-space">
                            <img src="../assets/office.svg" alt="">
                            <a href=""><h4>Office space planning <br> and interior design</h4></a>
                        </div>
                        <div class="grapical">
                            <img src="../assets/grapic.svg" alt="">
                            <a href=""><h4>Graphical <br> vizualization</h4></a>
                        </div>
                        <div class="office-carpets">
                            <img src="../assets/carpet.svg" alt="">
                            <a href=""><h4>Office Carpets and Vynil <br> Floors instalation</h4></a>
                        </div>
                    </div>
            </div>
        </div>
       
    </div>
    
</section>


<section id="projects">
    <div class="projects-container">
        <div class="categories-con">
            <div class="title">
                <h1>Projects</h1>
                
            </div>
            <div class="images">
                <div class="image-container1">
                    <div class="item">
                        <img class="first" src="../assets/Rectangle 31.png" alt="">
                        <span><a href=""  routerLink="projectsName">Project Name</a></span>
                        <!-- <img class="first-alt" src="../assets/viwro.png" alt=""> -->
    
                    </div>
                <div class="image-container2">
                    <div class="item">
                        <img class="second" src="../assets/Rectangle 32.png" alt="">
                        <span><a href="" routerLink="projectsName">Project Name</a></span>
                    
                        <img class="second" src="../assets/Rectangle 33.png" alt="">
                        <span><a href=""  routerLink="projectsName">Project Name</a></span>
                    </div>
                
                </div>
                <div class="image-container3">
                    <div class="item">
                        <img src="../assets/Rectangle 34.png" alt="">
                        <span><a href=""  routerLink="projectsName">Project Name</a></span>
                    </div>
                </div>
                <div class="image-container3">
                    <div class="item">
                        <img src="../assets/Rectangle 34.png" alt="">
                        <span><a href=""  routerLink="projectsName">Project Name</a></span>
                    </div>
                </div>
                <div class="image-container3">
                    <div class="item">
                        <img src="../assets/Rectangle 34.png" alt="">
                        <span><a href=""  routerLink="projectsName">Project Name</a></span>
                    </div>
                </div>
                </div>
                <div class="arrows">
                    <button type="button" class="prev" appPrev><img src="../assets/left.png" alt=""></button>
                    <button type="button" class="next" appNext><img src="../assets/right.png" alt=""></button>
                </div>
            </div>
        </div>
        
    </div>
    
</section>

<section id="about">
    <div class="aboutus-container">
       
        <div class="main-container">
            
                <div class="left ">
                    <h1>About Us</h1>
                    <p>It is well known that proper conditions at the workplace promote <br>
                        creation, development and expansion. Products and services that <br>
                        we deliver to our customers are characterized not only by high-<br>
                        class technology, superb quality and contemporary design. It is also <br>
                        a large diversity of products with qualities that create perfect <br>
                        working conditions for direct users. Let’s not forget, the office is the <br>
                        place where we spend the most of our active lives.</p>
                        <br>
                        <br>
                        <p>Becoming a leading provider of the commercial interior solutions <br>
                            and sustaining this position has always been the mission of Office <br>
                            Pros (former TECHO GEORGIA).</p>
                </div>
                <div class="right">
                    <mat-accordion style="background-color: transparent; color: black;">
                        <mat-expansion-panel  [expanded]="step === 0" (opened)="setStep(0)" hideToggle style="background-color: transparent; box-shadow: none;" >
                          <mat-expansion-panel-header >
                            <mat-panel-title>
                              Quality
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est inventore at quo, ad distinctio commodi provident nihil alias, labore quia nisi voluptate vel dolore non doloribus libero praesentium laudantium aliquid!</p>
                        </mat-expansion-panel>


                        <mat-expansion-panel style="background-color: transparent; box-shadow: none;" (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Project Security
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia nihil facere at ipsum possimus harum quasi? Sit quaerat eaque deserunt. Nihil autem ad quia dolorum commodi. Excepturi odio obcaecati officia.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel style="background-color: transparent; box-shadow: none;" (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Full service
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia nihil facere at ipsum possimus harum quasi? Sit quaerat eaque deserunt. Nihil autem ad quia dolorum commodi. Excepturi odio obcaecati officia.</p>
                        </mat-expansion-panel>



                        <mat-expansion-panel style="background-color: transparent; box-shadow: none;" (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                             Flexibility of Product range
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia nihil facere at ipsum possimus harum quasi? Sit quaerat eaque deserunt. Nihil autem ad quia dolorum commodi. Excepturi odio obcaecati officia.</p>
                        </mat-expansion-panel>


                        <mat-expansion-panel style="background-color: transparent; box-shadow: none;" (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>

                            <mat-panel-title>
                              Design
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia nihil facere at ipsum possimus harum quasi? Sit quaerat eaque deserunt. Nihil autem ad quia dolorum commodi. Excepturi odio obcaecati officia.</p>
                        </mat-expansion-panel>


                        <mat-expansion-panel style="background-color: transparent; box-shadow: none;" (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>

                            <mat-panel-title>
                              Service and Warranty
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia nihil facere at ipsum possimus harum quasi? Sit quaerat eaque deserunt. Nihil autem ad quia dolorum commodi. Excepturi odio obcaecati officia.</p>
                        </mat-expansion-panel>
                      </mat-accordion>
            </div>
        </div>
       
    </div>
    
    
</section>

<section id="categories">
    <div class="categories-container">
        
    
        <div class="categories-con">
            <div class="title">
                <h1>Categories</h1> 
            </div>
            <div class="cont">
                <div class="image-container">
                    <div class="item2">
                        <img src="../assets/floaring.png" alt="">
                        <div class="des">
                            <div class="row-1">
                                <img src="../assets/image/cleaning-window-shine 1.png" alt="">
                                <p>Flooring</p>
                            </div>
                            <div class="row-2">
                                <p>18 Products</p>
                            </div>
                        </div>
                    </div>
                    <div class="item2">
                        <img class="surati" src="../assets/furniture.png" alt="">
                        <div class="des">
                            <div class="row-1">
                                <img src="../assets/image/computer-desk-laptop 1.png" alt="">
                                <p>Office Furniture</p>
                            </div>
                            <div class="row-2">
                                <p>18 Products</p>
                            </div>
                        </div>
                    </div>
                    <div class="item2">
                        <img class="surati" src="../assets/office seat.png" alt="">
                        <div class="des">
                            <div class="row-1">
                                <img src="../assets/image/office-chair-1 1.png" alt="">
                                <p>Office Seating</p>
                            </div>
                            <div class="row-2">
                                <p>18 Products</p>
                            </div>
                        </div>
                    </div>
                    <div class="item2">
                        <img src="../assets/soft.png" alt="">
                        <div class="des">
                            <div class="row-1">
                                <img src="../assets/image/armchair-modern-2 1.png" alt="">
                                <p>Soft Seating</p>
                            </div>
                            <div class="row-2">
                                <p>18 Products</p>
                            </div>
                        </div>
                    </div>
                    <div class="item2">
                        <img src="../assets/soft.png" alt="">
                        <div class="des">
                            <div class="row-1">
                                <img src="../assets/image/armchair-modern-2 1.png" alt="">
                                <p>Soft Seating</p>
                            </div>
                            <div class="row-2">
                                <p>18 Products</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrows">
                    <button type="button" class="prev" appPrevtCategori><img src="../assets/left.png" alt=""></button>
                    <button type="button" class="next" appNextCategori ><img src="../assets/right.png" alt=""></button>
                </div>
            </div>
           
        </div>
        
    </div>
    
</section>

<section id="contact">
    <div class="contactus-container">
        
        <div class="main-container">
            <div class="left1">
                <h1>Contact Us</h1>
                <div class="info-container">
                    <p>
                        We provide you everything you need for the creation of a <br>
                        contemporary office. 
                    </p>
                    <hr>
                    <div class="span-container">
                        <span><img src="../assets/location.png" alt=""> I.Chavchavadze 1 Dead End 25 g, Tbilisi, Georgia</span>
                        <span><img src="../assets/call.png" alt=""> +995 595 057 139</span>
                        <span><img src="../assets/sms.png" alt=""> info@officepros.ge</span>
                    </div>
                    <hr>
                    <div class="social-logos">
                        <img src="../assets/Frame 6.png" alt="">
                        <img src="../assets/Frame 7.png" alt="">
                        <img src="../assets/Frame 8.png" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="right1">
                <div class="map" #mapElement></div>
            </div>
            
            
        </div>
        <div class="scrolldown-end">
            <img src="../assets/footer logo.png" alt="">
        </div>
    </div>
    
</section>