<div class="homepage-wrapper">
    <section>
        <div class="navbar">
            <div class="logo">
                <img src="../assets/logo.png" alt="Logo">
            </div>
            <div class="page-links">
                <ul>
                    <!-- <img class="menu-icon" src="../assets/mobilenav.png" id="menuList"> -->
                    <li><a href="">Home</a></li>
                    <li><a href="">Projects</a></li>
                    <li><a href="" routerLink="productsPage">Products</a></li>
                    <li><a href="">Special Offers</a></li>
                    <li><a href="">About</a></li>
                    <li><button class="contact"><img src="../assets/message.png" alt=""> <a href=""><h3>Contact Us</h3></a></button></li>
                </ul>
            </div>
        </div>
        <div class="main-container">
            <div class="left-side">
                <h1>Make your <br> <br> <br> <br> office like PRO</h1>
                <p>We provide you everything you need for the <br> creation of a contemporary office.</p>
                <button class="shop">Shop Now</button>
            </div>
            
            <div class="right-side">
                <div class="main-image">
                    <img class="pc-image" src="../assets/Rectangle 7.png" alt="">
                    <img  class="mob-image" src="../assets/RectangleMob.png" alt="">
                </div>
                <!-- <div class="order-btn">
                    <button>
                        <p>+</p>
                        <p>Order Now</p>
                        <p>$799.00</p>
                    </button>
                </div> -->
            </div>
        </div>
        <div class="scrolldown">
            <span><img src="../assets/mouse.png" alt="">Scroll down</span>
        </div>
        
    </section>
</div>
